//Font
$mainFont: "Comfortaa", cursive;
//Colors
$text-color: #23235f; //
$light-color: #fbfaff; //
$primary-color: #5051f9; //
$primary-hover: #6a6afb; //
$background-color: #f3f6fd; //
$gray: #8899a8;
